<% include ../partials/header.ejs %>

<h1 class="text-center">User Dashboard</h1>
<% if (!user.isBanned) { %>
<p class="text-center">
    <a class="btn btn-primary" data-toggle="modal" href='#addnew'><i class="fa fa-plus"></i> Add New</a>
</p>
<% } %>


<br>
<div class="row">
    <div class="col-md-10 col-md-offset-1">

        <% if (user.isBanned) { %>
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Suspended!</strong> This user account has been suspended by the admin. Please email at admin@gmail.com to unsuspend your account
        </div>

        <% } %>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">
                        Will
                    </th>
                    <th class="text-center">
                        Created At
                    </th>
                    <th class="text-center">
                        Download
                    </th>
                    <th class="text-center">
                        Transfer
                    </th>
                </tr>
            </thead>
            <tbody>
                <% if (Array.isArray(wills)) { %>
                <% for (will of wills) { %>
                <tr class="text-center">
                    <td><%= will[2] %></td>
                    <td><%= will[1] %></td>
                    <td>
                        <a href="/users/will-ipfs/<%= will[0] %>" target="_blank"><i class="fa fa-download"></i>
                            Download</a>
                    </td>
                    <td>
                        <a onclick="openTransferModal('<%= will[0] %>', '<%= will[2] %>')" href='#transfer'> <i
                                class="fa fa-exchange"></i> Transfer</a>
                    </td>
                </tr>
                <% } %>
                <% } %>
            </tbody>
        </table>

    </div>
</div>






<div class="modal fade" id="transfer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Transfer Will</h4>
            </div>
            <form action="/users/transfer/" method="POST" role="form">
                <div class="modal-body">


                    <div class="form-group">
                        <label for="toEmail">Transfer To</label>
                        <input type="email" class="form-control" name="toEmail" id="toEmail" placeholder="">
                    </div>
                    <input type="hidden" name="ttitle" id="ttitle" placeholder="">
                    <input type="hidden" name="thash" id="thash" placeholder="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="addnew">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add New Will</h4>
            </div>
            <form action="#" method="POST" role="form" enctype="multipart/form-data">

                <div class="modal-body">
                    <p class="text-center">
                        In order to save your will please create a new pdf document and upload it here.
                        <br> Please use this sample <a class="btn btn-default"
                            href="https://www.riogrande.coop/legal/Sample%20of%20simple%20will.pdf">PDF</a>
                    </p>

                    <div class="form-group">
                        <label for="title">Will Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Will Title"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="will">Will Document</label>
                        <input type="file" class="form-control" id="will" name="will" required>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    function openTransferModal(hash, title) {
        $('#ttitle').val(title)
        $('#thash').val(hash)
        $('#transfer').modal();
    }
</script>

<% include ../partials/footer.ejs %>